.product-grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 15vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }